
$french-violet: #F72585;
$grape: #B5179E;
$slate-blue: #7209B7;
$united-nations-blue: #560BAD;
$picton-blue: #480CA8;
$aero: #3A0CA3;
$sky-green: #a2d149;
$tiffany-blue: #4361EE;
$turquoise: #4895EF;
$aquamarine: #4CC9F0;
