.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 588px;
}
.about img {
    margin-right: 10%;
    margin-top: -20px;
}
.about__content {
    margin-top: -20px;
}
.about__content h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
}
.about__content p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 160%;
    color: #4C4C4C;
    width: 430px;
    margin-top: 25px;
}

@media (max-width: 1279px){
    .about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 1048px;
        flex-direction: column-reverse;
    }
    .about__content {
        margin-top: 5%;
    }
    .about img {
        margin: 0 0 8%;
    }
}

@media (max-width: 767px){
    .about {
        height: 974px;
    }
    .about__content {
        text-align: justify;
        margin-top: 7%;
    }
    .about__content h3 {
        font-size: 1.25em;
        letter-spacing: 0.06em;
    }
    .about__content p {
        width: 85%;
    }
    .about__content h3 {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .about__first-p {
        margin: 0 auto;
    }
    .about__second-p {
        margin: 0 auto;
    }
    .about img {
        width: 260px;
    }
}