.footer {
    background: url(../assets/img/reference.png), radial-gradient(84% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    /* height: 350px; */
}
.footer-info a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer-info h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__contacts {
    width: 300px;
    margin-bottom: 55px;
}
.footer__adress {
    width: 300px;
    margin-bottom: 57px;
    margin-right: 22px;
}
.fot-box a {
    display: flex ;
    gap: 20px;
    align-items: center;
}
.footer__contacts-email {
    margin: 43px 0 38px 0;
}
.footer__adress h3 {
    margin-bottom: 30px;
}
.footer__adress-bost {
    margin-bottom: 31px;
}
#contact-mail::before {
    content: url(../assets/svg/mail.svg);
}
#contact-number::before {
    content: url(../assets/svg/phone.svg);
}
#contact-adress-lond::before {
    content: url(../assets/svg/pin.svg);
}
#contact-adress-bost::before {
    content: url(../assets/svg/pin.svg);
}

@media (max-width: 1279px){
    .footer-info {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 29px;
    }
    .footer__adress {
        margin: 0 0px 4.8% 5%;
    }
    .footer__contacts {
        margin-bottom: 4.5%;
    }
    .footer-info img {
        margin-top: 25px;
    }
}
@media (max-width: 767px){
    .footer-info {
        padding: 0;
        padding-top: 28px;
    }
    .footer-info img {
        width: 260px;
        margin-top: 40px;
        padding: 0 25px;
    }
    .footer-info h3 {
        font-size: 1.25em;
        text-align: center;
    }
    .footer__adress h3 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 42px;
    }
    .footer__contacts h3 {
        margin-top: 0;
    }
    .footer__adress {
        margin: 0;
        margin-top: 35px;
    }
    .footer__contacts div {
        margin-left: 25px;
    }
    .footer__contacts  {
        margin-bottom: 0;
    }
    .footer__adress-bost {
        margin-bottom: 38px;
    }
    .footer__contacts-number a {
        margin-left: 4px;
    }
}