.main__bg-in-addition {
    background: #F6F6F6;
}
.in-addition {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 462px;
    gap: 30px;
}
.in-addition img {
    margin-bottom: 18px;
}
.in-addition__content {
    margin-bottom: 20px;
}
.in-addition__content p {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 18px;
    color: #B2B2B2;
}
.in-addition__content h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
    width: 300px;
}
.in-addition__content h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.in-addition__credit-card-btn {
    background: #F1CDB3;
    border-radius: 9px;
    width: 349px;
    height: 43px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    border: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    transition: 0.3s;
}
.in-addition__credit-card-btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
#card-btn {
    margin-bottom: 0;
}
.in-addition__credit-card-btn:hover {
    background: none;
    border: 2px solid #F1CDB3;
}

@media (max-width: 1279px){
    .in-addition {
        height: 783px;
        flex-direction: column-reverse;
    }
    .in-addition__content {
        margin-bottom: 4%;
    }
}

@media (max-width: 767px){
    .in-addition {
        height: 542.2px;
        justify-content: space-around;
    }
    .in-addition__content h3 {
        font-size: 1.25em;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 42px;
    }
    #pet-down  {
        width: 260px;
        margin-bottom: 13%;
    }
    .in-addition__credit-card-btn {
        width: 281px;
        height: 43px;
        font-size: 0.75em;
        margin: 0 auto;
        margin-top: 7%;
    }
    .in-addition__content h5 {
        margin: 0 0 0 0;
        text-align: center;
        letter-spacing: 0;
        margin-top: 7%;
    }
    .in-addition__content p {
        width: 87%;
        text-align: justify;
        margin: 0 auto;
        margin-top: 6%;
    }
}