html {
    scroll-behavior: smooth;
}
body {
    font-size: 20px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

@media (max-width: 1279px){
    .container {
        width: 100%;
        margin: 0 auto;
    }
}